body{
	font-family: 'Noto Sans TC', sans-serif;
}
.subheading{
	font-family: 'Noto Sans TC', sans-serif;
}
.bg-primary {
	background-color: #78c2b3!important;
background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}
.my-3{
	font-family: 'Noto Sans TC', sans-serif;
}
.my-4{
	font-family: 'Noto Sans TC', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Noto Sans TC', sans-serif;
	line-height: 7rem;
}

